body{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    text-align: justify;
    font-size: 18px;
}
li{
    text-align: left;
}
input[type=text], select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
}
input[type=submit]{
    width: 20%;
    background-color: #79aa54;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #7dff59;
    color: #095a3c;
}
footer{
    border-radius: 4px;
}
form{
    padding: 20px;
    background-color: #9edd6f;
}
.baritem{
    padding: 0px 40px;
    width:auto;
    height: 30px;
    display: inline-block;
    color: rgb(83, 115, 74);
    border:none;
    text-decoration: none;
    transition: color 0.5s, background 0.5s;
    border-radius: 30px;
}
.baritem:hover{
    background-color: rgb(223, 255, 192);
    color: rgb(37, 98, 31);
}
.bottom{
    border-bottom: 4px double #9edd6f;
}
.container{
    content: "";
    display: block;
    clear: both;
    width: 55%;
    padding: 50px 20%;
    align-items: center;
    line-height: 25px;
}
footer{
    padding: 30px;
    text-align: center;
    background-color: #8ec861;
    color: rgb(44, 106, 45);
}
.footerdiv{
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color:rgb(44, 106, 45) ;
}
.form{
    align-items: center;
    width: inherit;
}
.header{
    padding: 30px;
    text-align: left;
    background-color: #8ec861;
    color: white;
}
.headerdiv{
    display: inline-block;
}
.headerline{
    text-align: left;
    float: center;
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    color: #095a3c;
    text-shadow: 4px 2px white ;
}
.headermain{
    background-image: url("Head.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-left: 100px;
    padding-top: 400px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
    line-height: 35px;
}
.image{
    text-align: center;
    height: 40%;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
}
.list{
    list-style-type: circle;
    line-height: 180%;
    text-align: left;
}
.middle{
    text-align: center;
}
.main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #095a3c;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}
.nav{
    position: sticky;
    height: 30px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 20px;
    padding: 5px 0px;
    background-color: #9edd6f;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.rightborder{
    border-right: rgb(98, 204, 117);
    border-style: ridge;
    border-width: 0px 5px 0px 0px;
    width: 20%;
}
.rightborder img{
    height:100%;
    width:100%;
}
.right{
    float: right;
}
.section{
    width: 100%;
    padding:12px 24px;
}
@media (max-width: 600px) {
    .section {
      width: 100%;
    }
}
.table{
    border-collapse: collapse;
    width: 100%;
}
.table td, .table th{
    border:2px solid #ddd;
    padding: 8px;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover{
    background-color: #ddd;
}
.table th{
    padding: 10px 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.block{
    background-color: #b9f18a;
    padding: 20px 40px;
    border-radius: 5px;
    width: 100%;
}
.range{
    margin-bottom: 60px;
}
#email{
    height: 12px;
    width: 46%;
    margin-top: 10px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: none;
}
#image{
    text-align: center;
    height: 350px;
    width: 600px;
    padding-top: 30px;
    border-radius: 10px;
}
#image2{
    text-align: center;
    height: 350px;
    width: 600px;
    border-radius: 20px;
}
#image3{
    text-align: center;
    height: 350px;
    width: 600px;
    border-radius: 20px;
    padding: 10px 0px;
}
#image4{
    text-align: center;
    height: 350px;
    width: 600px;
    border-radius: 20px;
}
#main{
    text-shadow: 10px 5px  #ddd;
    font-size: 50px;
}

